<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<%- include("./head"); %>
		<title>エラー</title>
	</head>
	<body>
        <%- include("./header"); %>
        <main>
            <div　class="error">
                <h1>エラー</h1>
                <p><%= message %></p>
            </di>
        </main>
        <%- include("./footer"); %>
    </body>
</html>
